@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    /* COLOR */
    --color-dark: #271F10;
    --color-neutral: #FFF2E6;
    --color-primary: #507473;
    --color-secondary: #2A5359;
    --color-error: #cc0000;
    --color-theme: var(--color-primary);

    /* FONT FAMILY */
    --font-family-title: "Lemonada", cursive;
    --font-family-body: "Rubik", sans-serif;

    /* SPACING */
    --spacing-xsm: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-sm-2: 0.75rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.25rem;
    --spacing-xl: 2.5rem;

    /* BORDER */
    --border-size: 2px;
    --border-radius: var(--spacing-sm);
    --border-radius-inner: var(--spacing-xsm);
    --border-radius-btn: var(--spacing-xsm);
    --border-input: var(--border-size) solid;

    /* FONT-SIZE */
    --font-size-sm: 0.75rem;
    --font-size-md: 1rem;
    --font-size-md-2: 1.5rem;
    --font-size-lg: 2rem;
    --font-size-xl: 3rem;

    /* WIDTH */
    --width-section: 500px;
    --width-half: calc(var(--width-section) / 2);

    /* EFFECTS */
    --transition: all 200ms ease-in-out;
    --translate-y: translateY(-2px);
    --box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-body);
    margin: var(--spacing-xl);
}

img {
    margin-bottom: var(--spacing-lg);
}

p,
a,
button,
div,
h1,
h2,
h3,
h4,
h5,
ul,
li {
    margin: 0;
    color: var(--color-dark);
}

a {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: var(--border-size);
}

a:hover {
    text-decoration: none;
}

.confirmation input[type=button][value=Back] {
    background-color: var(--color-dark);
    color: var(--color-neutral);
    max-width: var(--width-half);
    width: 100%;
    content: "Back | Retour";
    transition: var(--transition);
}

.confirmation input[type=button][value=Back]:hover,
.confirmation input[type=submit]:hover,
.testing form input[type=submit]:hover {
    transform: var(--translate-y);
    box-shadow: var(--box-shadow);
}

.confirmation input[type=submit] {
    color: var(--color-dark);
    max-width: var(--width-half);
    width: 100%;
    transition: var(--transition);
}

form #sCostSummary div.sCostSummary:last-of-type .inputcell {
    display: flex;
    justify-content: stretch;
}

p,
a,
button,
li,
input,
label,
option,
select {
    font-family: var(--font-family-body);
}

ul {
    list-style: none;
    padding-left: var(--spacing-lg);
}

li:not(:last-child) {
    margin-bottom: var(--spacing-xsm);
}

li label {
    margin-left: var(--spacing-sm);
}

#wrapperDiv {
    padding: var(--spacing-xl);
}

#BodyTitle {
    font-family: var(--font-family-title);
    font-size: var(--font-size-xl);
    font-weight: bold;
    text-align: center;
}

#Introduction {
    text-align: center;
    margin-bottom: var(--spacing-lg);
}

/* 
#Introduction img {
    animation: wiggle 5s linear infinite;
} */

#Introduction p {
    margin-bottom: var(--spacing-sm);
}

.sectionWrapper,
#viewbookingoptions,
#returntobookingbottom,
#Introduction,
#BodyTitle {
    max-width: var(--width-section);
    margin: var(--spacing-lg) auto;
}

#returntobooking br {
    display: none;
}

#viewbookingoptions,
#returntobookingbottom {
    margin: var(--spacing-xl) auto;
}

#returntobookingbottom,
#returntobooking {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

#bookagain,
.returntobooking {
    margin-bottom: var(--spacing-sm);
    text-align: center;
}

.sectionWrapper {
    width: 100%;
}

.sectionHeader {
    font-family: var(--font-family-title);
    font-weight: bold;
    text-align: center;
    font-size: var(--font-size-md-2);
    margin: var(--spacing-xl) 0 var(--spacing-lg) 0;
}

.fieldwrapper {
    margin-bottom: var(--spacing-lg);
}

.itemdescriptioncell {
    margin-bottom: var(--spacing-sm);
}

#bookingpage .itemdescriptioncell {
    font-weight: bold;
}

#bookingpage .fieldWrapper {
    margin-bottom: var(--spacing-lg);
}

.captioncell.informationInput p {
    margin-bottom: var(--spacing-sm);
    font-size: var(--font-size-md);
    line-height: 135%;
}

.captioncell.informationInput p:last-child {
    margin-bottom: var(--spacing-md);
}

/* INPUT STYLING */

textarea {
    width: 100%;
    max-width: 100%;
    height: 150px;
    min-height: 50px;
    max-height: 400px;
}

input[type=checkbox],
input[type=radio] {
    accent-color: var(--color-primary);
}

input[type=text],
input[type=password],
textarea {
    padding: var(--spacing-sm) var(--spacing-sm-2);
    border-radius: var(--border-radius);
    font-size: var(--font-size-md);
    border-style: solid;
    border-color: var(--color-dark);
}

input[type=checkbox]:focus-visible,
input[type=radio]:focus-visible {
    outline-color: var(--color-secondary);
    outline-offset: 2px;
}

input[type=text]:focus-visible,
input[type=password]:focus-visible,
input[type=submit]:focus-visible,
textarea:focus-visible,
select:focus-visible {
    outline-color: var(--color-secondary);
    outline-offset: 4px;
}

select {
    padding: var(--spacing-sm) var(--spacing-sm-2);
    border: var(--border-input) var(--color-dark);
    border-radius: var(--border-radius);
}

select[multiple="multiple"] {
    height: 150px;
    overflow: hidden;
}

select[multiple="multiple"] option {
    padding: var(--spacing-xsm);
}

select[multiple="multiple"] option:checked {
    background-color: var(--color-secondary);
    color: var(--color-neutral);
}

select[multiple="multiple"] option:active {
    background-color: var(--color-primary);
    color: var(--color-neutral);
}

select[multiple="multiple"] option:first-child {
    border-radius: var(--border-radius-inner) var(--border-radius-inner) 0 0;
}

select[multiple="multiple"] option:last-child {
    border-radius: 0 0 var(--border-radius-inner) var(--border-radius-inner);
}

input[type=text],
.inputcell,
select {
    width: 100%;
    box-sizing: border-box;
}

/* BUTTON STYLING */

input[type=button],
input[type=submit] {
    background: transparent;
    border: var(--border-input) var(--color-dark);
    padding: var(--spacing-sm) var(--spacing-sm-2);
    border-radius: var(--border-radius-btn);
    cursor: pointer;
    transition: var(--transition);
}

input[type=submit] {
    color: var(--color-dark);
    width: 100%;
    transition: var(--transition);
}

input[type=button]:hover,
input[type=submit]:hover {
    background: var(--color-secondary);
    border-color: var(--color-secondary);
    color: var(--color-neutral);
    transform: var(--translate-y);
    box-shadow: var(--box-shadow);
}

/* CUSTOM FIELDS STYLING */

.coupon-feedback {
    background-color: var(--color-secondary);
    color: var(--color-neutral);
    border-radius: var(--border-radius);
    padding: var(--spacing-md);
    margin-bottom: var(--spacing-lg);
}

.coupon-feedback p {
    text-align: center;
    margin-bottom: 0 !important;
}

.custom-terms {
    border-bottom: 1px dotted var(--color-dark);
    border-top: 1px dotted var(--color-dark);
    padding: 1rem;
    margin-bottom: 1rem;
}

.custom-terms__important {
    text-align: center;
}

.link-container {
    text-align: center;
    padding: 0.5rem 1rem;
    line-height: 150%;
}

#row_i119817_Terms,
#row_i119816_Tourisme,
#row_i119873_Privacy,
#row_i119916_Volunteering,
#row_i119921_Allergies,
#row_i119919_Timeframe,
#row_i120576_Confirmation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

#row_i119919_Timeframe[style='display: block;'] {
    display: flex !important;
}

#row_i119817_Terms .itemdescriptioncell,
#row_i119873_Privacy .itemdescriptioncell,
#row_i120576_Confirmation .itemdescriptioncell {
    margin-left: var(--spacing-sm);
}

#row_i119817_Terms p,
#row_i119873_Privacy p,
#row_i120576_Confirmation p {
    margin-bottom: var(--spacing-sm);
    font-weight: normal;
    line-height: 135%;
}

#row_i119817_Terms .inputcell,
#row_i119816_Tourisme .itemdescriptioncell,
#row_i119873_Privacy .inputcell,
#row_i119916_Volunteering .itemdescriptioncell,
#row_i119921_Allergies .itemdescriptioncell,
#row_i119919_Timeframe .itemdescriptioncell,
#row_i120576_Confirmation .itemdescriptioncell {
    margin-bottom: 0;
}

#row_i119817_Terms .inputcell span p,
#row_i119816_Tourisme .itemdescriptioncell span p,
#row_i119873_Privacy .inputcell span p,
#row_i119916_Volunteering .itemdescriptioncell span p,
#row_i119921_Allergies .itemdescriptioncell span p,
#row_i119919_Timeframe .itemdescriptioncell span p {
    height: var(--spacing-lg);
    display: flex;
    align-items: center;
}


#row_i119817_Terms .inputcell,
#row_i119816_Tourisme .inputcell,
#row_i119873_Privacy .inputcell,
#row_i119916_Volunteering .inputcell,
#row_i119921_Allergies .inputcell,
#row_i119919_Timeframe .inputcell,
#row_i120576_Confirmation .inputcell {
    width: 30px;
}

.confirmation #row_i119817_Terms .inputcell,
.confirmation #row_i119873_Privacy .inputcell {
    width: 25%;
}

.confirmation #row_i119817_Terms,
.confirmation #row_i119873_Privacy {
    gap: var(--spacing-sm);
}

/* ERROR */

.itemdescriptioncell .errorText span p::before {
    content: "* ";
}

.errorText {
    color: var(--color-error) !important;
}

.errorMessage {
    max-width: var(--width-section);
    margin: 0 auto;
    text-align: center;
    border: var(--border-input) var(--color-error);
    padding: var(--spacing-sm-2) 0;
    margin-bottom: var(--spacing-sm-2);
    border-radius: var(--border-radius);
}

.errorMessage .errorAlert::before {
    content: "\a";
    white-space: pre;
}

/* TEST REGISTRATION PAGE */

.testing form {
    max-width: var(--width-section);
    margin: 0 auto;
}

.testing .testinginfo {
    display: flex;
    flex-direction: column;
}

.testing form input[type=submit] {
    color: var(--color-dark);
    margin-top: var(--spacing-lg);
}

.testing form input[type=password] {
    margin-top: var(--spacing-xsm);
}

/* KEYFRAMES */


@keyframes bounce {
    25% {
        transform: rotate(90deg) translate(.25rem);
    }

    75% {
        transform: rotate(90deg) translate(-.25rem);
    }
}

@keyframes wiggle {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}


/* ACCORDION COMPONENT */

.customdetails {
    margin-bottom: var(--spacing-lg);
}

.customdetails ul {
    margin-left: var(--spacing-sm);
    list-style: disc;
    margin-bottom: var(--spacing-sm);
}

.tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.tab__content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.35s;
    padding: 0;
}

.tab__content-subtitle {
    text-align: center;
}

.tab__content-no-bullet {
    list-style: none;
    margin: 0.5rem 0 0.5rem -1rem;
    font-style: italic;
}

.accordion .tab .tab__content p.tab__content-paragraph {
    margin: var(--spacing-sm);
    text-align: left;
}

.tab input:checked~.tab__content {
    max-height: fit-content;
    padding: var(--spacing-md);
}

.accordion {
    color: var(--color-theme);
    border: var(--border-input);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.tab__label,
.tab__close {
    display: flex;
    color: var(--color-neutral);
    background: var(--color-theme);
    cursor: pointer;
}

.tab__label {
    justify-content: space-between;
    padding: var(--spacing-md);
}

.tab__label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transform: rotate(90deg);
    transition: all 0.35s;
}

.tab input:checked+.tab__label::after {
    transform: rotate(270deg);
}

.tab__close {
    justify-content: flex-end;
    padding: var(--spacing-sm) var(--spacing-md);
    font-size: var(--font-size-sm);
}

.accordion--radio {
    --color-theme: var(--color-primary);
}

.tab input:not(:checked)+.tab__label:hover::after {
    animation: bounce .5s infinite;
}

.tab__content-item-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}


/* RESPONSIVE */

@media screen and (max-width: 600px) {

    .sectionWrapper,
    .testing form {
        width: 100%;
        margin: 0;
    }

    #viewbookingoptions,
    #returntobookingbottom {
        margin: var(--spacing-xl) 0;
    }

    .returntobooking {
        line-break: anywhere;
    }
}

@media screen and (max-width: 450px) {
    #bookingpage {
        padding: 0;
    }

    #wrapperDiv {
        padding: 0;
    }

    body {
        padding: var(--spacing-md);
    }

    #BodyTitle {
        font-size: var(--font-size-lg);
    }

    .sectionHeader {
        font-size: var(--font-size-lg);
    }

    .customdetails {
        border-left: none;
        border-right: none;
        padding: var(--spacing-sm) 0;
        border-radius: 0;
    }

    .errorMessage {
        border-left: none;
        border-right: none;
        border-radius: 0;
    }

    .tab__content-item-list {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }
}